@page "/tramites"
@rendermode InteractiveServer

@inject NavigationManager navegador
@inject CasoDeUsoTramiteListar ListarTramiteUseCase

<PageTitle>Tramites</PageTitle>

<h1>Tramites</h1>

<h3>
<button class="btn btn-secondary" @onclick= "irPanel" > ir al Panel</button>
<button class="btn btn-secondary" @onclick= "MostrarAgregarTramite" > Agregar Tramite</button>
</h3>
@if (mostrarAT && user.usuarioLoggeado!=null) {
    <input placeholder="contenido" @bind="t.contenido"/><br>
    <input placeholder="idExpediente" @bind="t.ExpedienteId"/><br>
    <button class="btn btn-primary" @onclick= "AgregarTramite" > Confirmar carga</button>
    @if (PopUpException){
        <PopUpException @ref=Exception Mensaje="@men" />
    }
}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>ID Expediente</th>
            <th>CONTENIDO</th>
            <th>FECHA DE CREACIÓN</th>
            <th>ULT MODIFICACIÓN</th>
            <th>ID MODIFICACIÓN</th>
            <th>TIPO</th>
            <th>ACCIÓN</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in ListarTramiteUseCase.Ejecutar())
        {
            <tr>
                <td>@t.id</td>
                <td>@t.ExpedienteId</td>
                <td>@t.contenido</td>
                <td>@t.fechaCreacion</td>
                <td>@t.ultModificacion</td>
                <td>@t.ultModificacionID</td>
                <td>@t.tipoTramite</td>
                <td>
                    <button class="btn btn-primary">Editar</button>
                    <button class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@inject CasoDeUsoTramiteAlta TramiteAltaUseCase
@inject IServicioSesion user
@code{

    public bool PopUpException {get; set;} = false;
    PopUpException? Exception;
    bool mostrarAT {get; set;} = false;
    Tramite t=new Tramite();
    string men="";
    public void MostrarAgregarTramite(){
        mostrarAT=true;
    }
    public async Task AgregarTramite(){
        try{
            if (user!=null){
                TramiteAltaUseCase.Ejecutar(user.usuarioLoggeado.id,t);
            }
        }
        catch (Exception e)
        {
            men=e.Message;
            PopUpException=true;
            Exception=new PopUpException();
            await Task.Delay(150);
            Exception.Mostrar();
        }
    }
    public void irPanel(){
        navegador.NavigateTo("/panel");
    }
}